
    <div class="row mt-4">
        <div class="col">
            <h2>Add Tasks</h2>
            <form action='todo' method="post" class="form-inline">
                {% csrf_token %}
                <input type="text" class="form-control mb-2 mr-sm-3" name="content" placeholder="Type Here...">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <ul class="list-group">
                {% for i in todo_item%}

                <li class="list-group-item">{{i.text}}
                    <div class="float-right">
                        <form action="/delete_todo/{{i.id}}/" action="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                </li>

                {% endfor%}

            </ul>

        </div>

    </div>

